.main-div{
    background-color: lightgray;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.profile-img{
    height: 80px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    right: 180px;
}
#created-by{
    position: relative;
    bottom: 55px;
    right: 83px;
}
.dot{
    height: 16px;
    position: relative;
    bottom: 62px;
    right: 155px;
}

#description{
    position: relative;
    bottom: 32px;
    right: 35px;
    font-weight: lighter;
}

.all-images{
    position: relative;
    bottom: 40px;

}

.edit-btn{
    margin-left: 200px;
}

input{
    width: 350px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid darkgray;
    text-align: center;
}

.send-btn{
    margin-top: 5px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid darkgray;
}

.comment-img{
    height: 40px;
    width: 60px;
    border-radius: 50%;
}

.comment-user{
    text-align: left;
}

table{
    position: relative;
    bottom: 33px;
}

.created-at{
    font-size: 12px;
    color: darkslateblue;
    position: relative;
    left: 24px;
    top: 85px;
}

#like-icon{
    position: relative;
    left: 20px;
}

#comment-icon{
    position: relative;
    left: 54px;
    top: 12px;
}

#share-icon{
    position: relative;
    left: 105px;
    top: 12px;
}

#icons{
    display: flex;
    position: relative;
    left: 40px;
}

#like-icon:hover, #comment-icon:hover,#share-icon:hover{
    cursor: pointer;
    background-color: darkgray;
}